<!DOCTYPE html>
<html>

<head>
    <title>Todo List</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <ol>
            <li v-for="(item, index) in items">{{item}}
                <button @click="removeItem(index)">X</button>
            </li>
        </ol>
        <input v-model="value" @keyup.enter="addItem()" placeholder="item to add"></input>
        <button @click="addItem()">Add Item</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                value: '',
                items: []
            },
            mounted() {
                fetch('/items').then(result => result.text())
                    .then(text => {
                        this.items = JSON.parse(text);
                    });
                let protocolPrefix = (window.location.protocol === 'https:') ? 'wss:' : 'ws:';
                let ws = new WebSocket(protocolPrefix + '//' + location.host + '/sock');
                ws.onopen = () => ws.send('join');
                ws.onmessage = msg => this.items = JSON.parse(msg.data);
            },
            methods: {
                addItem() {
                    if (this.value.length > 0) {
                        this.items.push(this.value);
                        this.value = '';
                        this.updateItems();
                    }
                },
                removeItem(index) {
                    this.items.splice(index, 1);
                    this.updateItems();
                },
                updateItems() {
                    fetch('/items/set/' + JSON.stringify(this.items));
                }
            }
        });
    </script>
</body>

</html>